---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>
  

  <div class="post-content">
      <div style="text-align: right;">
       <a href="https://hits.seeyoufarm.com" style="display: inline-block">
          <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ page.url | remove_first: '/' | replace: '/', '-'}}&count_bg=%23555555&title_bg=%23555555&icon=mitsubishi.svg&icon_color=%23FFFFFF&title=%EC%A1%B0%ED%9A%8C%EC%88%98&edge_flat=false"/>
          {{ site.baseurl }}
        </a>
      </div> 
    {{ content }}

    <div class="post-links">

      {% if page.previous.url %}
        <a class="link-to-post" href="{{ page.previous.url | relative_url}}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ page.previous.title }}</span>
        </a>
      {% endif %}
      {% if page.next.url %}
        <a class="link-to-post" href="{{ page.next.url | relative_url}}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ page.next.title }}</span>
        </a>
      {% endif %}
    </div>
  </div>
</article>
    {% include disqus.html %}
